.App {
  text-align: center;
  background-color: #1aa3ff;
}

.smurf-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.smurf {
  border: 2px dashed white;
  color: white;
  margin: 5px;
  padding: 5px;
}

h1 {
  color: white;
}